<% provide(:title, "Log in") %>

<div class="form form-login">
  <div class="flex-container">
    <h1 class="heading">Log in</h1>
  </div>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, placeholder: "Email" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.submit "Log in", class: "submit "%>
  <% end %>
</div>
