<div class="content">
  <a href="#"
     class="editable"
     id="content<%= content_block.id %>"
     data-type="textarea"
     data-pk="1"
     data-url="/<%= @page.title %>"
     data-title="Edit content">
  <%= content_block.content %>
  </a>
</div>
