<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <textarea id="wysihtml5-textarea" placeholder="Compose..."></textarea>
  <div id="wysihtml5-toolbar" style="display: none;">
    <a data-wysihtml5-command="bold">bold</a>
    <a data-wysihtml5-command="italic">italic</a>
    <a data-wysihtml5-command="createLink">insert link</a>
  </div>
