<% provide(:title, "About") %>
<div class="about__content">
  <% if @page.content_blocks.any? %>
    <div id="content-container" class="about__content-block__content">
      <h3 class="about__heading heading">About</h3>
      <%= render @content %>
    </div>
  <% end %>
</div>
