<% provide(:title, "Home") %>

<% if logged_in? %>
  <i class="material-icons">add circle outline</i>
  <section class="post_form">
    <%= render 'shared/post_form' %>
  </section>
<% end %>

<% if @posts.any? %>
  <div class="feed">
    <ol>
      <%= render @posts %>
    </ol>
    <% will_paginate @posts %>
  </div>
<% end %>
