<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="post-new">
    <i class="material-icons modal__toggle-button modal__toggle-button--open" id="show-post-form">add</i>
  </div>
  <%= render 'shared/post_form' %>
<% end %>
<% if User.first.posts.any? %>
  <div class="feed">
    <ol class="feed-list">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  </div>
<% end %>
