@import "../base/colors"
@import "../base/extends"
.feed-list
  padding-left: 0
.feed-posts
  list-style: none
  margin-bottom: 100px
  display: flex
  flex-direction: column
  align-items: flex-start
.post-feed-info
  position: relative
  padding-top: 7rem
  padding-right: 3rem
  display: flex
  flex-direction: column
  flex: 1
  font-family: $serif
.post-feed-flex
  width: 720px
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: center
.post-feed-title
  @extend .heading
  height: 40px
  line-height: 40px
  font-size: 2.5rem
  font-weight: 100
  font-style: italic
  position: absolute
  white-space: nowrap
  top: 2rem
  left: 0
  min-width: 300px
.post-feed-byline
  color: #555
  padding: 1rem 0 0 2rem
  margin: 0
.post-feed-timestamp
  color: #999
  padding: 0 0 0 2rem
.post-feed-text
  margin: 0 auto
  p:first-child
    padding-top: 50px
  p:nth-child(n+2)
    display: none
.post-feed-content
  flex: 3
  a.read-more-link
    text-transform: uppercase
    color: #000
    font-style: italic
    font-family: $serif
    text-decoration: underline
    &:hover
      color: $pink

  a
    color: $pink
    &:hover
      color: #ccc
.post-feed-photo > img
  width: 100%
  height: auto
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
//  box-shadow: 0px 2px 3px 2px transparentize(#555, 0.2)

