@import "../base/colors"
@import "../base/extends"
.feed-list
  padding-left: 0
.feed-posts
  display: flex
  flex-direction: row
  justify-content: space-around
  list-style: none
  margin-bottom: 100px
.post-feed-title
  @extend .heading
.post-feed-byline
  color: #555
  padding: 1rem 0
  margin: 0
.post-feed-timestamp
  color: #999
.post-feed-text
  max-width: 400px
  margin: 0 auto
