@import '../base/colors'

.post-form
  position: fixed
  width: 60%
  margin: 0 auto
  border: 1px solid black
  background: #fff
  padding: 20px
.picture
  display: inline-block
.post-form-content
  display: block
  width: 80%
  margin: 0 auto
.post-form-photo-input
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1
.post-form-photo-label:focus,
.post-form-photo-label:hover
  color: $pink
.post-form-title-field
  width: 80%
  margin: 0 auto
  padding: 0px
  box-shadow: none
  border-top: none
  border-left: none
  border-right: none
  border-radius: 0px
  border-bottom: 1px solid #000

