@import '../base/colors'
@import '../base/extends'

.modal__toggle-container
  display: none
.modal
  position: fixed
  display: flex
  min-height: 100vh
  min-width: 100vh
  background: transparentize(#555, 0.2)
  justify-content: center
  align-items: center
.modal__form-content
  width: 100%
  height: 90%
  overflow-x: hidden
  overflow-y: scroll
  position: relative
  max-width: 640px
  @extend .card
.modal__toggle-button
  @extend .circle-button
.modal__toggle-button--open
  position: absolute
  right: 10%
  top: 22rem
.modal__toggle-button--close
  position: absolute
  right: 4rem
  top: 4rem
.modal__heading
  margin-top: 3rem
  margin-bottom: 3rem
.modal__field
  width: 100%
  padding: 0
  border-top: none
  border-left: none
  border-right: none
  border-bottom: 1px solid #ccc
  box-shadow: none
.modal__field--title
  margin-bottom: 2rem
.modal__picture
  margin-bottom: 2rem
  .modal__picture__label
    display: flex
    align-items: center
  i
    padding-right: 2rem
  i, span
    color: #555
    &:hover
      cursor: pointer
      color: $pink
input[type="file"].modal__field__photo
  opacity: 0
.modal__field--content
  margin-bottom: 1rem
  height: 250px
  overflow: scroll
.modal__toolbar
  display: flex
  align-items: left
  a
    height: 25px
    padding: 2px 5px
    margin-right: 2rem
    color: $pink
    border: 1px solid $pink
    border-radius: 3px
    i
      font-size: 20px
.img-preview
  display: none
.show
  display: block


//    &:hover
      cursor: pointer
      color: $pink
      &:focus
      color: $pink
//.post-form-content
  display: block
  margin: 1rem 0
  width: 100%
  padding-top: 2rem
  border-top: 1px solid #ccc
  border-bottom: none
  border-left: none
  border-right: none
//.post-form-photo-input
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1
//.post-form-title-field
  margin: 0
  width: 100%
  padding: 0px
  box-shadow: none
  border-top: none
  border-left: none
  border-right: none
  border-radius: 0px
  border-bottom: 1px solid #000
//.toggle-modal-button
  position: absolute
  right: 5rem
  margin-top: 2rem
  padding: 0.5rem
  border-radius: 50%
  background: $pink
  color: #fff
  box-shadow: 0 2px 2px 2px transparentize(#555, 0.7)
  &:hover
    cursor: pointer
//#wysihtml5-toolbar
  border-top: 1px solid #ccc
  display: flex
  align-items: flex-start
  justify-content: center
//.wysihtml-button,
  padding: 0 10px
  margin: 2rem
  max-height: 44px
  font-size: 14px
  line-height: 30px
  color: #555
  border: 2px solid #555
  border-radius: 3px
  display: inline-block
  &:hover
    text-decoration: none
    color: #888
  .material-icons
    font-size: 14px
//.post-form-heading
  margin: 2rem 0 2rem 0
  line-height: 24px
//.post-submit
  margin-top: 6rem
